{% extends 'shifts/layout.html' %}

{% block body %}
    <h1>list of staff</h1>
    <ul>
        {% for staff in nut %}
        <li>Staff Name: {{ staff.stuName }} Pack Holding 1: {{ staff.PH1 }} Non Pack Holding 1: {{ staff.NH1 }}</li>
        {% endfor %}
    </ul>
    <h1>Calendar</h1>
    {% if but is empty %}
        but is empty
    {% else %}
        {% for dog in but %}
            {{ dog.dayNum }}
            <li>{{ dog.emp.stuName }} {{ dog.emp.stuID }}</li>
        {% endfor %}
    {% endif %}
{% endblock %}