{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>About Us</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'teams' %}">Residence Teams</a></li>
            <li><a href="{% url 'guide' %}">User Guide</a></li>
            <li><a href="{{ request.path }}">About Us</a></li>
            <li><a href="{% url 'generator' %}">Generator</a></li>
        </ul>
    </nav>
    <main>
        <h2>About Us</h2>
        <section class="about-us">
            <p> We are members of the RLS team from University of Guelph; each of us brings unique experiences and recognizes the difficulties related to scheduling issues encountered in the residence team. 
                This project development presented a valuable opportunity for us to collaborate, integrate our ideas, and enhance our skills to address future challenges.
                We aim to create solutions that cater to the various challenges in residences, ultimately improving the efficiency of shift scheduling. 
                By incorporating our work, we believe we can significantly reduce the stress and time senior staff invest in this process. 
                Our goal is to enhance the overall schedule, minimizing human errors, and increasing satisfaction among the team.</p>
            <sign>Molin Li, Richard Cui & Emily Chang</sign>
        </section>
    </main>
</body>