<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Residence Staff Schedule Generator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <nav>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="res-team.html">Residence Teams</a></li>
          <li><a href="user-guide.html">User Guide</a></li>
          <li><a href="about-us.html">About Us</a></li>
        </ul>
    </nav>

    <header class="header-home">
        <sub>Unversity of Guelph</sub>
        <h1>Residence Life Schedule<br>Generator</h1>
        <a href=res-team.html><button class="my-button">Start</button></a>
    </header>
    
    <footer>
        <p>&copy; 2024 Residence Life Staff Schedule Generator. No rights reserved.</p>
    </footer>
</body>

</html>